.system-role-dialog-container .menu-data-tree[data-v-8e0ec283]{width:100%;border:1px solid var(--el-border-color);border-radius:var(--el-input-border-radius, var(--el-border-radius-base));padding:5px}
